:root {
  --border-radius: 10px;

  /* Palette */
  --color-white: hsl(255, 100%, 100%);
  --color-light-gray: hsl(212, 45%, 89%);
  --color-grayish-blue: hsl(220, 15%, 55%);
  --color-dark-blue: hsl(218, 44%, 22%);
  
  /* Font */
  --font-family: "Outfit", sans-serif;
  --font-size: 15px;
  --font-weight-medium: 400;
  --font-weight-heavy: 700;
}